@using RotaryClub.ViewModels.Admin;
@model AdminViewModel
@{
    ViewData["Title"] = "Kontrolna ploča";
    Layout = "Admin/_Layout";
}

@section Styles{
    <link rel="stylesheet" href="~/css/admin.css" />
}

<div class="container">
    <h1 class="text-center">Kontrolna ploča</h1>
</div>

<hr/>

<div class="container my-4">
    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-sm-4">
                <div class="card" id="shadow">
                    <div class="card-body p-5 shadow-5 text-center">
						<div class="list-group group">
							<div class="group-item">
								<div class="action-log"><i class="bi bi-briefcase"></i></div>
								<div class="row news-card p-3 bg-white">
									<strong>Ukupan broj projekata</strong>
									<div class="md-text">@Model.TotalProjectCount</div>
								</div>
							</div>
							<div class="group-item">
								<div class="action-log"><i class="bi bi-people"></i></div>
								<div class="row news-card p-3 bg-white">
									<strong>Ukupan broj članova</strong>
									<div class="md-text">@Model.TotalMemberCount</div>
								</div>
							</div>
							<div class="group-item">
								<div class="action-log"><i class="bi bi-list-task"></i></div>
								<div class="row news-card p-3 bg-white">
									<strong>Ukupan broj zadataka</strong>
									<div class="md-text">@Model.TotalTasksCount</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-sm-8">

				<div class="text-center mt-5">
                    <h2><span class="h2-secondary">Aktuelno</span></h2>
                </div>
				<div id="zadaci"></div>
            </div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script type="text/javascript">
	$(function () {
		$.ajax({
			url: '@Url.Action("LatestTasks", "Tasks")',
			type: 'GET',
			cache: false,
		}).done(function (result) {
			$('#zadaci').html(result);
		});
	});
</script>
	