<nav id="nav1" class="navbar navbar-expand-sm navbar-toggleable-sm  box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/rotary-logo-navbar.svg" width="150" height="50"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="ps-3 navbar-collapse d-sm-inline-flex justify-content-between collapse show d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Index">Naslovna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="About">O nama</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Sarajevo">Sarajevo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" asp-area="" asp-controller="Project" asp-action="Index">Projekti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Contact">Kontakt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" asp-area="" asp-controller="Member" asp-action="IndexHome">Članovi</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
 
                    <li class="nav-item">
                        <a class="nav-link text-black" asp-area="" asp-controller="Admin" asp-action="Index">Kontrolna ploča</a>
                    </li>
                    <li class="nav-item">
                        <form asp-action="Logout" asp-controller="User">
                            <button type="submit" class="nav-link text-black">Odjavi se</button>
                        </form>
                    </li>

                }
            else
            {
            <div class="class=" d-flex justify-content-end justify-content-sm-start text-sm-left align-items-center me-md-5 mt-2"">
                <div class="action-log ms-3" onclick="toggleDropdown()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-lock-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0m0 5a1.5 1.5 0 0 1 .5 2.915l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99A1.5 1.5 0 0 1 8 5" />
                </svg>
                </div>
                <div class="dropdown-menu mt-2 me-2" id="customDropdownMenu">
                    <a class="nav-link text-black" asp-area="" asp-controller="User" asp-action="Login">Prijavi se</a>
                    <a class="nav-link text-black" asp-area="" asp-controller="User" asp-action="Register">Registruj se</a>
                </div>
            </div>
            }
            </ul>
        </div>
    </div>
</nav>

<script>
    function toggleDropdown() {
        var dropdownMenu = document.getElementById('customDropdownMenu');
        dropdownMenu.style.display = (dropdownMenu.style.display === 'block') ? 'none' : 'block';
        dropdownMenu.style.right = (dropdownMenu.style.right === '0px') ? '-100%' : '0px';
    }
</script>

<script>
 

</script>