@section Styles{
<link rel="stylesheet" href="~/css/user.css" />
}
@{
    ViewData["Title"] = "Zaboravljena lozinka";
}

<section class="d-flex justify-content-center align-items-center h-70">
    <img class= "" src="~/img/login.png" />
</section>

<section class="text-center text-lg-start">
    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right2">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5">Zaboravili ste lozinku?</h2>
                        <p class="fw-normal mb-5">Unesite svoju email adresu kako bi Vam poslali link za promjenu lozinke</p>
                        <form asp-action="ForgotPassword" asp-controller="User" enctype="multipart/form-data">
                            <div class="form-outline mb-4">
                                <input name="email" type="email" class="form-control" id="email" placeholder="Email adresa">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mb-4">
                                Pošalji
                            </button>
                        </form>
                        <div class="text-center">
                            <p>ili pomoću:</p>
                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="bi bi-facebook"></i>
                            </button>

                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="bi bi-google"></i>
                            </button>

                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="bi bi-twitter"></i>
                            </button>

                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="bi bi-github" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="~/img/connect2.jpg" class="w-100 rounded-4 shadow-4" alt="" />
            </div>
        </div>
    </div>
</section>