@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Uspješna registracija";
}
<h1>Uspješno ste se registrovali!!</h1>
<p>Potvrdite Vaš račun klikom na linku u emailu koji smo Vam poslali.</p>