<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RotaryClub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RotaryClub.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css" />
    @await RenderSectionAsync("ScriptsHead", required: false)
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <partial name="Admin/_AdminNavbar" />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <script>

        tinymce.init({
        selector: 'textarea#editor',
        plugins: 'powerpaste casechange searchreplace autolink directionality advcode visualblocks visualchars image link media mediaembed codesample table charmap pagebreak nonbreaking anchor tableofcontents insertdatetime advlist lists checklist wordcount tinymcespellchecker editimage help formatpainter permanentpen charmap linkchecker emoticons advtable export autosave',
        toolbar: 'undo redo print spellcheckdialog formatpainter | bold italic underline strikethrough forecolor backcolor | emoticons | bullist numlist outdent indent | removeformat | alignleft aligncenter alignright alignjustify | lineheight | checklist | fontselect fontsizeselect',

            setup: (editor) => {
                editor.on('init', () => {
                    const editorContainer = editor.getContainer();
                    editorContainer.style.display = 'flex'; 
                    editorContainer.style.clear = 'both'; 
                    editorContainer.style.margin = '0 auto'; 
                    editorContainer.style.marginBottom = '10px'; 
                });
            },

            init_instance_callback : function(editor) {
               var freeTiny = document.querySelector('.tox .tox-notification--in');
               freeTiny.style.display = 'none';
            }
        });

    </script>
</body>
</html>
