@using RotaryClub.ViewModels.Member
@model EditMemberViewModel
@{
    ViewData["Title"] = "Uredi člana";
    Layout = "Admin/_Layout";
}
@section Styles{
    <link rel="stylesheet" href="~/css/admin.css" />
}

<section class="d-flex justify-content-center align-items-center h-70">
    <img class="" src="~/img/login.png" />
</section>


<div class="container my-4">
    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-sm-6 mx-auto">
                <div class="card" id="shadow">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h1 class="fw-bold mb-3">Uredi korisnika</h1>
                        <form method="post" asp-action="Edit" asp-route-id="@ViewBag.Id" enctype="multipart/form-data" class="needs-validation" novalidate>
                            <div class="mb-3">
                                <label for="name" class="form-label">Ime i prezime</label>
                                <input asp-for="Name" type="text" class="form-control" id="name" placeholder="John Doe" required>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email adresa</label>
                                <input asp-for="Email" type="email" class="form-control" id="email" placeholder="name@example.com">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="website" class="form-label">Web (Facebook/LinkedIn)</label>
                                <input asp-for="Website" type="text" class="form-control" id="website" placeholder="https://www.facebook.com/zuck">
                                <span asp-validation-for="Website" class="text-danger"></span>
                            </div>
                            <div class="form-check form-switch mb-3">
                                <label class="form-check-label" for="honorary">Počasni član?</label>
                                <input asp-for="Honorary" class="form-check-input" type="checkbox" role="switch" id="honorary">
                                <span asp-validation-for="Honorary" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Fotografija člana</label>
                                <input asp-for="Photo" class="form-control" type="file" id="formFile">
                                <span asp-validation-for="Photo" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col-sm-6 mb-2">
                                        <button class="btn btn-primary" type="submit">Uredi člana</button>
                                    </div>
                                    <div class="col-sm-6 mb-2">
                                        <img height="75" width="75" src="@Model.PhotoUrl" alt="@Model.Name" class="img-fluid" />
                                    </div>
                                </div>
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript" src="~/js/formValidation.js" defer></script>
}