@{
    ViewData["Title"] = "Members";
    Layout = "Admin/_Layout";
}
<div class="container">
    <h1>Index members</h1>
    <a class="btn btn-primary" asp-action="Create">Kreiraj korisnika</a>
</div>