
@section Styles{
<link rel="stylesheet" href="~/css/user.css" />
}
@{
ViewData["Title"] = "O nama";
}

<body>

    <section data-aos="fade-up" class="hero2">
        <div class="hero-inner">
            <h1>O nama</h1>
            <h2>Rotary Club Sarajevo</h2>
        </div>
    </section>

    <hr />
    <section id="about">
        <div class="container">
            <div class="text-center" id="logo">
                <img class="img-fluid mx-2" src="~/img/rotary-logo.png" />
            </div>
        </div>

        <hr />
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="d-flex justify-content-center">
                        <div class="bg d-inline w-25 p-3 rounded-circle">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                                <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                            </svg>
                        </div>
                    </div>
                    <p class="semi-bold text-justify-left mt-2">
                        Rotary je svjetska organizacija osoba iz stručnog i poslovnog života koje se posvećuju humanim ciljevina, 
                        cijene i promiču visoka etička načela u poslovnom i privatnom životu i šire dobru volju i razumijevanje u svijetu.
                    </p>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="d-flex justify-content-center">
                        <div class="bg d-inline w-25 p-3 rounded-circle">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                                <path d="M20.168 6.136 14.325.293a1 1 0 0 0-1.414 0l-1.445 1.444a1 1 0 0 0 0 1.414l5.844 5.843a1 1 0 0 0 1.414 0l1.444-1.444a1 1 0 0 0 0-1.414Zm-4.205 2.927L11.4 4.5a1 1 0 0 0-1-.25L4.944 5.9a1 1 0 0 0-.652.624L.518 17.206a1 1 0 0 0 .236 1.04l.023.023 6.606-6.606a2.616 2.616 0 1 1 3.65 1.304 2.615 2.615 0 0 1-2.233.108l-6.61 6.609.024.023a1 1 0 0 0 1.04.236l10.682-3.773a1 1 0 0 0 .624-.653l1.653-5.457a.999.999 0 0 0-.25-.997Z" />
                                <path d="M10.233 11.1a.613.613 0 1 0-.867-.868.613.613 0 0 0 .867.868Z" />
                            </svg>
                        </div>
                    </div>
                    <p class="semi-bold text-justify-left mt-2">
                        Ovi ideali njeguju se u rotary klubovima, u kojima se sastaju osobe jednakih nazora.
                        Nosioci ove ideje su pojedini rotarijanci i rotarijanke koji rotarijska načela 
                        i rotarijske ideale oživotvoruju na svom području.
                    </p>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="d-flex justify-content-center">
                        <div class="bg d-inline w-25 p-3 rounded-circle">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
                            </svg>
                        </div>
                    </div>
                    <p class="semi-bold text-justify-left mt-2">
                        Prvi rotary klub osnovao je 23. februara 1905. godine u Čikagu advokat Paul P.Harris sa ciljem da duh prijateljstva iz malih mjesta svoje mladosti ponovno oživi u jednom profesionalnom klubu.
                    </p>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="d-flex justify-content-center">
                        <div class="bg d-inline w-25 p-3 rounded-circle">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 15V9m4 6V9m4 6V9m4 6V9M2 16h16M1 19h18M2 7v1h16V7l-8-6-8 6Z" />
                            </svg>
                        </div>
                    </div>
                    <p class="semi-bold text-justify-left mt-2">
                        Ime Rotary nastalo je od ranog običaja rotiranja mjesta održavanja sastanaka među članovima kluba.
                    </p>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="d-flex justify-content-center">
                        <div class="bg d-inline w-25 p-3 rounded-circle">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                                <path d="M9 1.334C7.06.594 1.646-.84.293.653a1.158 1.158 0 0 0-.293.77v13.973c0 .193.046.383.134.55.088.167.214.306.366.403a.932.932 0 0 0 .5.147c.176 0 .348-.05.5-.147 1.059-.32 6.265.851 7.5 1.65V1.334ZM19.707.653C18.353-.84 12.94.593 11 1.333V18c1.234-.799 6.436-1.968 7.5-1.65a.931.931 0 0 0 .5.147.931.931 0 0 0 .5-.148c.152-.096.279-.235.366-.403.088-.167.134-.357.134-.55V1.423a1.158 1.158 0 0 0-.293-.77Z" />
                            </svg>
                        </div>
                    </div>
                    <p class="semi-bold text-justify-left mt-2">
                        Do 1921. godine rotary klubovi osnovani su na svih šest kontinenata, te samo godinu dana kasnije
                        organizacija je prihvatila novo ime: Rotary International.
                    </p>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="d-flex justify-content-center">
                        <div class="bg d-inline w-25 p-3 rounded-circle">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                                <path d="M8 18A18.55 18.55 0 0 1 0 3l8-3 8 3a18.549 18.549 0 0 1-8 15Z" />
                            </svg>
                        </div>
                    </div>
                    <p class="semi-bold text-justify-left mt-2">
                        Do 1925. rotary je predstavljalo 200 klubova i više od 20.000 članova.
                        Danas postoji 1.2 miliona rotarijanaca u preko 32,000 klubova i iz više od 200 zemalja.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <hr />
    
    <div class="text-center video-container">
        <video width="1920" height="1080" autoplay="" loop="" muted="" data-webm="" type="0"><source src="~/img/about-video.mp4" type="video/mp4" webkitallowfullscreen mozallowfullscreen allowfullscreen></video>
    </div>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <header class="text-center pb-5">
                        <h2 class="h2-secondary">Riječ predsjednika RC Sarajevo</h2>
                    </header>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 mx-auto">

                    <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                        <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                        <p class="mb-0 mt-2">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo <a href="#" class="text-info"></a>."</p>
                        <footer class="blockquote-footer pt-4 mt-4 border-top">
                            Predsjednik RC Sarajevo
                            <cite title="Source Title">Emir Arslanagić</cite>
                        </footer>
                    </blockquote>

                </div>
            </div>
        </div>
    </section>

    <div class="row">

        <div class="column text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
            </svg>
            <h2 class="h2-secondary">RC Sarajevo</h2>
        </div>

     </div>

    <div class="row">

        <div class="column text-center">
            <div class="fb-like-box fb_iframe_widget" data-href="http://www.facebook.com/RCSarajevo" data-width="290" data-show-faces="true" data-border-color="#FFFFFF" data-stream="false" data-header="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=369459613137694&amp;container_width=288&amp;header=true&amp;href=http%3A%2F%2Fwww.facebook.com%2FRCSarajevo&amp;locale=bs_BA&amp;sdk=joey&amp;show_faces=true&amp;stream=false&amp;width=290"><span style="vertical-align: bottom; width: 290px; height: 130px;"><iframe name="f35b52528066714" width="290px" height="1000px" data-testid="fb:like_box Facebook Social Plugin" title="fb:like_box Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/plugins/like_box.php?app_id=369459613137694&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df717d71062f67c%26domain%3Dwww.rotary.ba%26is_canvas%3Dfalse%26origin%3Dhttp%253A%252F%252Fwww.rotary.ba%252Ff3c29f1522a732c%26relation%3Dparent.parent&amp;container_width=288&amp;header=true&amp;href=http%3A%2F%2Fwww.facebook.com%2FRCSarajevo&amp;locale=bs_BA&amp;sdk=joey&amp;show_faces=true&amp;stream=false&amp;width=290" style="border: none; visibility: visible; width: 290px; height: 130px;" class=""></iframe></span></div>
        </div>

    </div>

</body>