<head>
    @section Styles{
    <link rel="stylesheet" href="~/css/user.css" />
    }
    @{
    ViewData["Title"] = "O nama";
    }
</head>

<body>

    <section class="hero2">
        <div class="hero-inner">
            <h1>O nama</h1>
            <h2>Rotary Club Sarajevo</h2>
        </div>
    </section>

    <hr />

    <div class="container">
        <p class="semi-bold text-justify-left">
            <a>
                Rotary je svjetska organizacija osoba iz stručnog i poslovnog života koje se posvećuju humanim ciljevina, cijene i promiču visoka etička načela u poslovnom i privatnom životu i šire dobru volju i razumijevanje
                u svijetu. Ovi ideali njeguju se u rotary klubovima, u kojima se sastaju osobe jednakih nazora. Nosioci ove ideje su pojedini rotarijanci i rotarijanke koji rotarijska načela i rotarijske ideale oživotvoruju na svom području.
                Prvi rotary klub osnovao je 23. februara 1905. godine u Čikagu advokat Paul P. Harris sa ciljem da duh prijateljstva iz malih mjesta svoje mladosti ponovno oživi u jednom profesionalnom klubu. Ime Rotary nastalo je od ranog običaja rotiranja mjesta održavanja sastanaka među članovima kluba. Do 1921. godine rotary klubovi osnovani su na svih šest kontinenata, te samo godinu dana kasnije organizacija je prihvatila novo ime: Rotary International. Do 1925. rotary je predstavljalo 200 klubova i više od 20.000 članova.
                Danas postoji 1.2 miliona rotarijanaca u preko 32,000 klubova i iz više od 200 zemalja.
            </a>
        </p>
    </div>

    <div class="text-center">
        <img src="https://cdn2.webdamdb.com/md_wrGnmw9aMF381QSM.png?1655238040">
    </div>


    <div class="container">
        <p class="semi-bold text-justify-left">
            <a>
                Prvi rotary klub osnovao je 23. februara 1905. godine u Čikagu advokat Paul P. Harris sa ciljem da duh prijateljstva iz malih mjesta svoje mladosti ponovno oživi u jednom profesionalnom klubu. 
                Ime Rotary nastalo je od ranog običaja rotiranja mjesta održavanja sastanaka među članovima kluba.
                Do 1921. godine rotary klubovi osnovani su na svih šest kontinenata, te samo godinu dana kasnije organizacija je prihvatila novo ime: Rotary International. 
                Do 1925. rotary je predstavljalo 200 klubova i više od 20.000 članova.
                Danas postoji 1.2 miliona rotarijanaca u preko 32,000 klubova i iz više od 200 zemalja.
            </a>
        </p>
    </div>

    <hr />
    
    <div class="text-center video-container">
        <video width="1920" height="1080" autoplay="" loop="" muted="" data-webm="" type="0" data-mp4="https://rotary.webdamdb.com/embedvid.php?embedAssetId=wmQuKbVX7za91E1i&apm=0"><source src="https://cdn1-originals.webdamdb.com/13799_137057982?cache=1675702945&response-content-disposition=inline;filename=2022_119_AUS_15_EN_16x9.mp4&Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiaHR0cCo6Ly9jZG4xLW9yaWdpbmFscy53ZWJkYW1kYi5jb20vMTM3OTlfMTM3MDU3OTgyP2NhY2hlPTE2NzU3MDI5NDUmcmVzcG9uc2UtY29udGVudC1kaXNwb3NpdGlvbj1pbmxpbmU7ZmlsZW5hbWU9MjAyMl8xMTlfQVVTXzE1X0VOXzE2eDkubXA0IiwiQ29uZGl0aW9uIjp7IkRhdGVMZXNzVGhhbiI6eyJBV1M6RXBvY2hUaW1lIjoyMTQ3NDE0NDAwfX19XX0_&Signature=DAcJbx1nbuRzGBCuQnIqiTojxBzXKIigpVNd-dxZU07dpQH2s4Nrq0919YPop4S2VQ0SdzBVYEf2bEdz~W-xQnjG~0eXl6UsGxdrjs3-VjlLBvRBDOLydqlx0nASmVFGC941ixokVVuqmBNEOcvRQ8L4CoB9TGUbefGnoevC048hO1BfUfEyaQ79o9~XZv5VcIHbIQR48rJPKBeEgtsjH2PcCY9YA47yjBgeRQlA0iHDBCTPMpptJOISTFYKw8lZaaJJZdyfSrTZvV0NWoFDdEMT~~8or8x4IuFR8pk4rukPe3cdxTvI2U2bAXAAn-HSltVOixj1MNehY1ZVx-3aqw__&Key-Pair-Id=APKAI2ASI2IOLRFF2RHA" webkitallowfullscreen mozallowfullscreen allowfullscreen></video>
    </div>

</body>