@{
    ViewData["Title"] = "Naslovna";
}

<div class="text-center">
    <h1>Šta je <span class="badge bg-secondary">ROTARY?</span></h1>
    <p class="semi-bold text-justify-left">
        <a>
            Rotary je svjetska organizacija osoba iz stručnog i poslovnog života koje se posvećuju humanim ciljevina, cijene i promiču visoka etička načela u poslovnom i privatnom životu i šire dobru volju i razumijevanje
            u svijetu. Ovi ideali njeguju se u rotary klubovima, u kojima se sastaju osobe jednakih nazora. Nosioci ove ideje su pojedini rotarijanci i rotarijanke koji rotarijska načela i rotarijske ideale oživotvoruju na svom području.
            Prvi rotary klub osnovao je 23. februara 1905. godine u Čikagu advokat Paul P. Harris sa ciljem da duh prijateljstva iz malih mjesta svoje mladosti ponovno oživi u jednom profesionalnom klubu. Ime Rotary nastalo je od ranog običaja rotiranja mjesta održavanja sastanaka među članovima kluba. Do 1921. godine rotary klubovi osnovani su na svih šest kontinenata, te samo godinu dana kasnije organizacija je prihvatila novo ime: Rotary International. Do 1925. rotary je predstavljalo 200 klubova i više od 20.000 članova.
            Danas postoji 1.2 miliona rotarijanaca u preko 32,000 klubova i iz više od 200 zemalja.
        </a>
    </p>
</div>

<div class="row">

    <div class="column">
        <img class="center" src="https://logos-download.com/wp-content/uploads/2017/11/Rotary_International_Logo_blue.png" width="375" height="375">
    </div>

    <div class="column">
        <p>
        </p>
        <p class="semi-bold text-justify" style="font-size:x-large">
            <a>
                Rotary nastoji postići ovaj cilj na slijedeći način:
                <ol>
                    <li style="font-size:large"><p> da njegujući prijateljstvo bude drugima od koristi;</p></li>
                    <li style="font-size:large"><p> prihvatanjem visokih etičkih načela, kako u privatnom tako i u poslovnom životu te poštivanjem vrijednosti svakog čina za opće dobro;</p></listyle="font-size:x-large>
                    <li style="font-size:large"><p> promicanjem odgovornog djelovanja svih rotarijanaca u privatnom, poslovnom i javnom životu;</p></li>
                    <li style="font-size:large"><p> njegovanjem dobre volje za razumijevanje i mir među narodima putem svjetske zajednice poslovnih ljudi, sjedinjenih u idealu, da se pomogne drugima;</p></li>
                </ol>
            </a>
        </p>
    </div>
</div>

<p>
</p>

<div class="text-center">
    <h1><span class="badge bg-secondary">PROJEKTI</span></h1>
</div>

<p>
</p>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to=0 class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to=1></li>
        <li data-target="#carouselExampleIndicators" data-slide-to=2></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://cdn2.webdamdb.com/md_2e9KNeeC4kD4.jpg?1684358244" alt="">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://cdn2.webdamdb.com/md_oW7ikWBh1L777Yh4.jpg?1684358132" alt="">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://cdn2.webdamdb.com/md_cwOaHHCQxja6.jpg?1684358187" alt="">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Prethodna</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Sljedeca</span>
    </a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<p>
</p>

<div class="row">

    <div id="card" class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Izgradnja Centra za osobe sa intelektualnim teškoćama</h5>
            <p class="card-text"></p>
            <a href="http://www.rotary.ba/sadrzaj.aspx?id=34" class="btn btn-primary">Više</a>
        </div>
    </div>

    <div id="card" class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Rotary česma u Sarajevu</h5>
            <p class="card-text"></p>
            <a href="http://www.rotary.ba/sadrzaj.aspx?id=8" class="btn btn-primary">Više</a>
        </div>
    </div>

    <div id="card" class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Fond za stipendiranje perspektivnih učenika srednjih partnerskih škola</h5>
            <p class="card-text"></p>
            <a href="http://www.rotary.ba/sadrzaj.aspx?id=3" class="btn btn-primary">Više</a>
        </div>
    </div>
</div>
<style>
    body {
        background-color: #f7a81b;
    }

    #card {
        width: 190px;
        height: 254px;
        margin: auto;
        padding: 10px;
        border-radius: 30px;
        background: #958d85;
        color: white;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
    }

    #center {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
    }

    .semi-bold {
        font-weight: 600;
    }

    .text-justify-left {
        text-align: left;
        text-align: justify
    }

    .carousel-item img {
        height: 540px;
    }


    .center-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .row {
        display: flex;
    }

    .column {
        flex: 50%;
    }
</style>