<head>
    @section Styles{
        <link rel="stylesheet" href="~/css/user.css" />
    }
    @{
        ViewData["Title"] = "Projekti";
    }
</head>
<body>

    <section class="hero3">
        <div class="hero-inner">
            <h1>Projekti</h1>
            <h2>Projekti RC Sarajevo</h2>
        </div>
    </section>

    <hr />
    
    <div class="text-center">
        <h1><span class="h2-secondary">Aktuelno</span></h1>
    </div>

    <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div class="d-flex flex-row"></div>
                <div class="row news-card p-3 bg-white">
                    <div class="col-md-4">
                        <div class="feed-image"><img class="news-feed-image rounded img-fluid img-responsive" src="https://cdn2.webdamdb.com/md_gzVMp9oidai01EW3.jpg?1684358133"></div>
                    </div>
                    <div class="col-md-8">
                        <div class="news-feed-text">
                            <h5>Projekat 1</h5><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard<br></span>
                            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex creator-profile">
                                    <img class="rounded-circle" src="https://i.imgur.com/uSlStch.jpg" width="50" height="50">
                                    <div class="d-flex flex-column ml-2">
                                        <h6 class="username">Niko Nikic</h6><span class="date">Jan 20,2023</span>
                                    </div>
                                </div><i class="fa fa-share share"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div class="d-flex flex-row"></div>
                <div class="row news-card p-3 bg-white">
                    <div class="col-md-4">
                        <div class="feed-image"><img class="news-feed-image rounded img-fluid img-responsive" src="https://cdn2.webdamdb.com/md_IivKPVl5CRN13YwJ.jpg?1684358182"></div>
                    </div>
                    <div class="col-md-8">
                        <div class="news-feed-text">
                            <h5>Projekat 2</h5><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard<br></span>
                            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex creator-profile">
                                    <img class="rounded-circle" src="https://i.imgur.com/uSlStch.jpg" width="50" height="50">
                                    <div class="d-flex flex-column ml-2">
                                        <h6 class="username">Niko Nikic</h6><span class="date">Apr 20,2023</span>
                                    </div>
                                </div><i class="fa fa-share share"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div class="d-flex flex-row"></div>
                <div class="row news-card p-3 bg-white">
                    <div class="col-md-4">
                        <div class="feed-image"><img class="news-feed-image rounded img-fluid img-responsive" src="https://cdn2.webdamdb.com/md_AgLMJiZHCxm6.jpg?1684358189"></div>
                    </div>
                    <div class="col-md-8">
                        <div class="news-feed-text">
                            <h5>Projekat 3</h5><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard<br></span>
                            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex creator-profile">
                                    <img class="rounded-circle" src="https://i.imgur.com/uSlStch.jpg" width="50" height="50">
                                    <div class="d-flex flex-column ml-2">
                                        <h6 class="username">Niko Nikic</h6><span class="date">Jun 20,2023</span>
                                    </div>
                                </div><i class="fa fa-share share"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />
    
    <section>
        <div class="text-center video-container">
            <video width="1920" height="1080" autoplay="" loop="" muted="" data-webm="" type="0" data-mp4="https://rotary.webdamdb.com/embedvid.php?embedAssetId=QsacYCJmQG21&apm=0"><source src="https://cdn1-originals.webdamdb.com/13799_91894004?cache=1679686278&response-content-disposition=inline;filename=2018_156_PowerInOurConnections_Omni_2_15_EN_16x9.mp4&Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiaHR0cCo6Ly9jZG4xLW9yaWdpbmFscy53ZWJkYW1kYi5jb20vMTM3OTlfOTE4OTQwMDQ~Y2FjaGU9MTY3OTY4NjI3OCZyZXNwb25zZS1jb250ZW50LWRpc3Bvc2l0aW9uPWlubGluZTtmaWxlbmFtZT0yMDE4XzE1Nl9Qb3dlckluT3VyQ29ubmVjdGlvbnNfT21uaV8yXzE1X0VOXzE2eDkubXA0IiwiQ29uZGl0aW9uIjp7IkRhdGVMZXNzVGhhbiI6eyJBV1M6RXBvY2hUaW1lIjoyMTQ3NDE0NDAwfX19XX0_&Signature=SBRe0N8S1x5TYta2jR1rfG0DKeJ1sjne9c88Oz~LoQ221Ddv5hF-~8N8r6QcYgN3WJOtf5hls~BOdNETpkJ3DPfMbWovnHnZAWOs0NyHNV9laophWyyywCxp-Ag5mYO1QtZtRkNvTGZp-0hKkjxeOwTM1Ts5Wh4q5XXLQYqaG1vz6DUCEe3aGRnqu84VviwDzJjDdcm4Boi0GMjlUwZBK8CmHBXT~3~S76vappAdV0mE5FhUeWsuk5k97J2etfal3LeX0AW8K7MZSbCuy55UhD7zwfANOVIenB2uLkBGqfkUT1LW0VpDiBZ1wuzjZurLSKUpCfqkcGGkBHAjQNJ7Lg__&Key-Pair-Id=APKAI2ASI2IOLRFF2RHA" type="video/mp4" webkitallowfullscreen mozallowfullscreen allowfullscreen></video>
        </div>
    </section>
 
</body>

