<head>
    @section Styles{
        <link rel="stylesheet" href="~/css/user.css" />
    }
    @{
        ViewData["Title"] = "Projekti";
    }
</head>
<body>
    <section class="hero3">
        <div class="hero-inner">
            <h1>Projekti</h1>
            <h2>Projekti RC Sarajevo</h2>
        </div>
    </section>
</body>