@using RotaryClub.ViewModels.Tasks
@model CreateTasksViewModel
@{
    ViewData["Title"] = "Kreiraj zadatak";
    Layout = "Admin/_Layout";
}
@section Styles{
    <link rel="stylesheet" href="~/css/admin.css" />
}

<section class="d-flex justify-content-center align-items-center h-70">
    <img class="" src="~/img/login.png" />
</section>

<div class="container py-4">
    <div class="row g-0 align-items-center">
        <div class="col-sm-6 mx-auto">
            <div class="card" id="shadow">
                <div class="container d-flex justify-content-end mt-3">
                    <button class="btn btn-primary" type="button" onclick="submitForm()">Kreiraj zadatak</button>
                </div>
                <div class="card-body p-4 shadow-5 text-center">
                    <h1 class="fw-bold mb-3">Kreiraj novi zadatak</h1>
                    <form method="post" asp-action="Create" enctype="multipart/form-data" class="needs-validation" novalidate id="myForm">
                        <div class="mb-3">
                            <label for="title" class="form-label">Naslov</label>
                            <input asp-for="Title" type="text" class="form-control" id="title" required>
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="content" class="form-label">Sadržaj</label>
                            <input asp-for="Content" type="text" class="form-control" id="content" required>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/formValidation.js" defer></script>
    <script>
        function submitForm() {
            document.getElementById("myForm").submit();
        }
    </script>
}